html, body {
  @include standard-text;
  font-size: 16px; 
}

.wrapper {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto; 
}


.text-lead {
  @include text-lead;
}
.text-xl {
  @include text-xl;
}
.text-lg {
  @include text-lg;
}
.text-m {
  @include text-m;
}
.text-s {
  @include text-s;
}
.text-xs {
  @include text-xs;
}


// headings
h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

.d1 {
  @include d1;
}

.d2 {
  @include d2;
}

.d3 {
  @include d3;
}

.d4 {
  @include d4;
}

.d5 {
  @include d5;
}

.d6 {
  @include d6;
}