#brands {
    padding: 60px 0;

    .container {
        display: none;
        gap: 10px;
        
        @include md {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }


        .box {
            padding: 40px 0;
        }
    }
}