#clients-love-app {
  padding: 7rem 0;
  background: $gradient-background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    @include lg {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      align-items: start;
      flex-direction: row;
    }

    .header {
      text-align: center;
      align-items: center;

      @include lg {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        align-items: start;
      }

      h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      .navigation {
        display: none;

        @include lg {
          display: flex;
          gap: 1rem;
          justify-content: center;
          margin-top: 3rem;
          @include shadow-m;
        }

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: white;
          font-size: 0.7rem;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease;

          &:hover {
            background-color: $primary;
            color: white;
          }
        }
      }
    }

    .testimonials {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      @include lg {
        grid-column: 2 / 4;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
      }

      .testimonial {
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: -2rem;

        img.quote-1,
        img.quote-2 {
          position: absolute;
          top: -60px;
        }

        img.rating {
          margin-top: 2rem;
          margin-bottom: 2rem;
          align-self: center;

          @include lg {
            align-self: flex-start;
          }
        }

        p {
          text-align: center;
          font-size: 1rem;
          color: $gray-700;
          margin-bottom: 1rem;

          @include lg {
            text-align: left;
          }
        }

        .client-info {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;

          @include lg {
            justify-content: start;
          }

          img {
            width: 50px;
            height: auto;
            border-radius: 50%;
            margin-right: 0.5rem;
          }

          .text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include lg {
              justify-content: center;
            }

            h6 {
              font-size: 1rem;
              font-weight: bold;
              margin: 0.5rem 0;
            }
  
            p {
              font-size: 0.875rem;
              color: #6c757d;
              margin: 0;
              margin-top: -0.5rem;
            }
          }
        }
      }
    }
  }
}