#faq {
    display: block;
    padding: 3rem 1rem;

    @include lg {
        padding: 7rem 0;
    }

    .container {
        .faq-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 4rem;

            @include lg {
                grid-template-columns: 1fr 2fr;
                gap: 9rem;
            }

            .information-bottom-left-side {
                display: flex;
                flex-direction: column;

                h2 {
                    @include h2;
                    margin-bottom: 1rem;
                    text-align: center;

                    @include lg {
                        text-align: start;
                    }
                }

                p.get-in-touch {
                    color: $gray-700;
                    @include text-lg;
                    margin-bottom: 2.5rem;
                    text-align: center;

                    @include lg {
                        text-align: start;
                    }
                }

                .contact-options {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2rem;
                    margin-left: -15px;

                    @include lg {
                        flex-direction: row;
                    }

                    >div {
                        padding: 1rem;
                        border: 1px solid $gray-300;
                        border-radius: 12px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5rem;

                        p {
                            @include text-s;
                        }
                    }

                    .have-questions {
                        i {
                            color: $primary;
                        }

                        .fa-phone-volume {
                            font-size: 1.5rem;
                        }
                    }

                    .phone-calls {

                        i,
                        a {
                            color: $success;
                        }

                        .fa-comment-dots {
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            .dropdowns {
                .card {
                    border: none;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                    overflow: hidden;
                    margin-bottom: 1rem;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: $gray-400;
                    }

                    .toggleButton {
                        i {
                            background-color: #F3F6FF; 
                            border-radius: 50%;

                            &.fa-chevron-up {
                                background-color: $primary;
                                color: white;
                            }
                        }
                    }

                    .heading {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;
                        cursor: pointer;

                        button {
                            background: none;
                            border: none;
                            font-size: 1rem;
                            text-align: left;
                            cursor: pointer;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: $gray-900;
                            font-weight: bold;
                        }

                        i {
                            position: absolute;
                            right: 1rem;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 36px;
                            width: 36px;
                            background-color: #F3F6FF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                        }

                        i.open {
                            background-color: $primary;
                            color: white;
                        }
                    }

                    .dropdown-content {
                        padding: 1rem;
                        display: none;
                        background: white;
                        color: $gray-900;


                        p {
                            color: $gray-900;
                        }
                    }

                    .dropdown-content.open {
                        display: block;
                    }
                }
            }
        }
    }
}